ray[serve]>=2.49.0
nvsmi==0.4.2
outlines_core==0.2.11
outlines==1.2.5
transformers==4.56.2
openai==1.109.1
pydantic==2.12.4
pydantic-extra-types==2.10.6
pydantic_core==2.41.5
pydantic_settings==2.12.0
vllm==0.10.2
uv==0.8.22
ninja==1.13.0
scipy==1.16.3
numpy==2.2.6
pandas==2.3.1
pydub==0.25.1
torchaudio>=2.5.1
vllm[audio]==0.10.2