{{- range .Values.httproutes }}
---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ .name }}
  namespace: {{ include "oc-serve.namespace" $ }}
spec:
    {{- if .parentRefs }}
    parentRefs:
        {{- range .parentRefs }}
        - name: {{ .name }}
          namespace: {{ .namespace }}
        {{- end }}
    {{- end }}
    {{- if .hostnames }}
    hostnames:
        {{- range .hostnames }}
        - {{ . }}
        {{- end }}
    {{- end }}
    {{- if .rules }}
    rules:
        {{ toYaml .rules | nindent 8 }}
    {{- end }}
{{- end }}