{{- range .Values.ServiceAccounts }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .name }}
  namespace: {{ include "oc-serve.namespace" $ }}
  {{- if .labels }}
  labels:
    {{- range $key, $value := .labels }}
    {{ $key }}: {{ $value }}
    {{- end }}
  {{- end }}
{{- end }}
